/* global styles */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 4.5 rem;
}

/* hero section */
.hero-section {
  min-height: calc(100vh - 4.5rem);
  display: flex;
  align-items: center;
  padding: 6rem 0 4rem;
  background: #dad9d63d;
}

.hero-image-wrapper {
  max-width: 420px;
  width: 100%;
}

.hero-image {
  display: block;
  width: 100%;
  height: auto;
}

/* about section */
.about-section {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.about-section h2 {
  letter-spacing: 0.04em;
}

.about-section p.p-text {
  font-size: 1.33rem;
}

@media (max-width: 576px) {
  .hero-section {
    padding-top: 100px;
  }
}
