/* global styles */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 4.5 rem;
}

/* hero section */
.hero-section {
  min-height: calc(100vh - 4.5rem);
  display: flex;
  align-items: center;
  padding: 4rem 0;
  background: #dad9d63d;
}

.hero-image-wrapper {
  max-width: 420px;
  width: 100%;
}

.hero-image {
  display: block;
  width: 100%;
  height: auto;
}
